@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h1>Hello Welcome , @Context.Session.GetString("Username")</h1>
<h4>Your Fav Number :  @Context.Session.GetInt32("FavNumber")</h4>
<a href="/logout" class="btn btn-danger">LOGOUT</a>